@font-face {
  font-family: 'Rubik Light';
  font-display: swap;
  src: url('RubikLight-Medium.woff2') format('woff2'),
  url('RubikLight-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url('RubikLight-Bold.woff2') format('woff2'),
  url('RubikLight-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-display: swap;
  src: url('RubikLight-Regular.woff2') format('woff2'),
  url('RubikLight-Regular.woff') format('woff');
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Rubik","Arial", sans-serif;
}
.container {
  width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
/* Header section started  */
.site-header__top {
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
.site-header__wrapper {
  display: flex;
  justify-content: center;
}
.site-header__left {
  display: flex;
  align-items: center;
}
.site-header__photo{
  margin-right: 35px;
  border-radius: 7px;
  background-color: #fff;
}
.header-photo {
  border-radius: 60px;
}
.site-header__text {
  margin-right: 25px;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.text-right {
  margin-right: 262px;
}
.dollor {
  color: #2959CE;
}
.right-header {
  display: flex;
  align-items: center;
}
.site-header__photo {
  margin-right: 25px;
}
.header-img_end {
  margin: 0;
}
/* Site nav */
.site-header__list {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
  list-style: none;
}
.site-header__link {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7f7f7f;
}
/* header section finished  */
/* Aside sectio started */
.site-aside {
  padding-bottom: 50px;

}
/* Aside sectio finished */
/* Main section started */
.sait-main__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 auto;
  padding-bottom: 60px;
  width: 1440px;
  list-style: none;
}
.sait-main__item {
  width: 394px;
  margin-right: 10px;
  padding: 20px 17px 17px 15px;
  background-color: #F6F6F6;
  border-radius: 15px;
}
.sait-main__item:nth-child(1) {
  margin-bottom: 10px;
}
.sait-main__item:nth-child(2) {
  margin-bottom: 10px;
}
.sait-main__item:nth-child(3) {
  margin-right: 0;
  margin-bottom: 10px;
}
.sait-main__item:nth-child(6) {
  margin-right: 0;
}
.sait-main__title {
  font-style: normal;
  line-height: 22px;
  font-size: 20px;
  line-height: 26px;
}
.site-main__title-wrap {
  width: 346px;
}
.site-main__title-wrapper {
  width: 338px;
}
.site-main__decription {
  margin:0 auto;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #5E5F61;
}
.site-main__icon {
  display: flex;
  align-items: center;
}
.site-main__photo {
  margin-right: 10px;
}
.site-main__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}
/* Main section finished */

/* Article section started  */
.news-notification-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  margin: 0 auto;
  padding: 15px 71px 25px 29px;
  padding-bottom: 60px;
  background-image: url(./mainfoto/Grouppp.svg);
  background-repeat: no-repeat;
  background-size: 1050px 100px;
}
.news-notification-title-wrapper {
  width: 404px;
}
/* Article section finished   */

/* News section started  */
.site-news {
  padding-bottom: 100px;
}
.wrapperr {
  display: flex;
}
.site-news__title {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 20px;
}
.site-news__wrapper {
  display: flex;

}
.site-news__list {
  padding-left: 0;
  margin-right: 10px;
  margin-bottom: 17px;
  margin-top: 0;
}
.site-news__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 20px 20px 17px;
  width: 797px;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.site-news__item:nth-child(4) {
  margin-bottom: 0;
}
.site-news__wrap {
  margin-left: 15px;
}
.site-news__desc {
  font-size: 19px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}
.site-news__text {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}
.links {
  width: 796px;
  background-color: #eaeaea;
  border-radius: 10px;
}
.site-main__icon {
  margin-bottom: 0px;
}
.site-main__link {
  display: block;
  padding: 17px 343px 17px 343px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}
.site-main__text  {
  margin-top: 0;
  margin-bottom: 0;
}
/* News rights  */
.site-news__right {
  padding-top: 25px;
  padding-left: 17px;
  width: 393px;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.site-right__title {
  margin-top: 0;
  font-size: 24px;
  line-height: 28px;
}
.site-right__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 10px;
}
.site-right__item:nth-child(4) {
  padding-bottom: 25px;
}
.site-right__desc {
  font-size: 18px;
  line-height: 24px;
}
.site-right__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}
.site-right__text__active {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
  margin-bottom: 0;
}
/* News section finished  */

/* Footer section started  */
.sitefooter {
  background-color: #7297ef;
  padding-top: 40px;
  padding-bottom: 40px;
}
.site__wrapper {
  padding-left: 120px;
  padding-right: 100px;
}

.site-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding-right: 85px;
}
.site-footer__list {
  padding-left: 0;
}
.site-footer__item {
  list-style: none;
}
.site-footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
}
.site-footer__desc {
  width: 229px;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #ffffff;
}
.site-footer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.line {
  margin-bottom: 20px;
}
.site-footer__top {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.site-footer__title {
  width: 264px;
  margin-left: 110px;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.site-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer__lists {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  list-style: none;
}
.site-footer__items {
  margin-right: 28px;
}
.site-footer__items:nth-child(4) {
  margin-right: 0;
}
.site-footer__description {
  width: 161px;
  p
}
.aside {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}


/* Footer section started */